<br>
<title>Galeria</title>
<div class="container">
  <center><h1> Nuetrsos productos : </h1></center><br>


  <div class="row">
    <div class="col-xs-6 col-md-3">
      <a href="/assets/logo.png" class="thumbnail">
        <%= image_tag('logo.png') %>
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="/assets/drawing.svg.png" class="thumbnail">
        <img src="/assets/drawing.svg.png" alt="...">
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="/images/image3344.png" class="thumbnail">
        <img src="/images/image3344.png" alt="...">
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="/assets/image3355.png" class="thumbnail">
        <img src="/assets/image3355.png" alt="...">
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="/assets/image3366.png" class="thumbnail">
        <img src="/assets/image3366.png" alt="...">
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="/assets/image3377.png" class="thumbnail">
        <img src="/assets/image3377.png" alt="...">
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="/assets/image3388.png" class="thumbnail">
        <img src="/assets/image3388.png" alt="...">
      </a>
    </div>
  </div>


  </div>
