<title>Quienes somos</title>
<div class="container">
  <center>
    <h1>Nuestro desarrollo: </h1>
    <p>Fabricacion a pedido y medidas especiales en acero quírurgico.</p>

  </center>
  <h1>Encuentranos en:</h1> <br>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d830.7045502494072!2d-70.6945935054095!3d-33.61002120053023!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d93deede2a41%3A0xbee61e7df8e016a9!2sGuisseppe+Verdi+1586%2C+San+Bernardo%2C+Regi%C3%B3n+Metropolitana!5e0!3m2!1ses-419!2scl!4v1491369102037"></iframe>
    <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d415.34969265111516!2d-70.69451811444605!3d-33.61005856997965!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzPCsDM2JzM2LjMiUyA3MMKwNDEnMzkuMiJX!5e0!3m2!1ses-419!2scl!4v1491368893746" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>-->
  </div>

</div>
